// Make it boot on pinenote 
debug { render-drm-device "/dev/dri/card1"; }

output "DPI-1" {
    // No rotation support yet
    // transform "90"
}

prefer-no-csd

environment {
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_STYLE_OVERRIDE "gtk2"
    QT_ICON_THEME "Papirus"
    DISPLAY ":0"
}

hotkey-overlay {
    skip-at-startup
}

spawn-sh-at-startup "dunst"
spawn-sh-at-startup "quill-data-provider"
spawn-sh-at-startup "nwg-drawer.sh"
spawn-sh-at-startup "swaybg -i /usr/share/backgrounds/quill_wallpaper1.png"
spawn-sh-at-startup "eww --force-wayland open bar"
spawn-sh-at-startup "nm-applet --indicator"
spawn-sh-at-startup "squeekboard-restyled"

input {
    disable-power-key-handling
    
    // Pinenote touch
    touch {
        // map-to-output "DPI-1"
        calibration-matrix -1.0 0.0 1.0 0.0 -1.0 1.0
    }
}

cursor {
    xcursor-theme "GoogleDot-Black"
    xcursor-size 16
    hide-after-inactive-ms 250
}

layout {
    gaps 6
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
        proportion 0.5
    }

    default-column-width { proportion 1.0; }

    focus-ring {
        off
    }

    border {
        width 2
        active-color "#000000"
        inactive-color "#777777"
    }

    shadow {
        off
    }
    background-color "#FFFFFF"

    // https://github.com/YaLTeR/niri/issues/2400#issuecomment-3831097820
    struts {
        left -4
        right -4
        bottom -5
        top -6
    }
}

overview {
    zoom 0.75
    backdrop-color "#FFFFFF"
    workspace-shadow {
        on
        softness 0
        color "#000000"
        spread 2
        offset // Weird but works
    }
}

window-rule {
    default-column-width { proportion 1.0; }
    default-window-height { proportion 1.0; }
    tiled-state true
}

window-rule {
    match title="Save File"
    open-floating false
    open-maximized true
    open-maximized-to-edges false
}

animations {
    off
}


binds {
    Mod+Slash { show-hotkey-overlay; }

    Mod+T { spawn "tilix"; }
    Mod+Z { spawn "nwg-drawer"; }

    Alt+f4 { close-window; }

    Mod+A { focus-column-left; }
    Mod+S { focus-window-down; }
    Mod+W { focus-window-up; }
    Mod+D { focus-column-right; }

    Mod+Ctrl+A { move-column-left; }
    Mod+Ctrl+S { move-window-down; }
    Mod+Ctrl+W { move-window-up; }
    Mod+Ctrl+D { move-column-right; }

    Mod+H { focus-column-first; }
    Mod+E { focus-column-last; }

    Mod+U { focus-workspace-down; }
    Mod+I { focus-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }
    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+I { move-workspace-up; }

    Mod+WheelScrollDown { focus-column-right; }
    Mod+WheelScrollUp { focus-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Print { screenshot; }
}
